
<html>
	

	<template id="offers-editor">
		<div class="offers-editor">
			<section>Offers</section>
			<button class="back">Back</button>
			<div id="rows-parent">

			</div>
		</div>
	</template>


	<template id="offer-editor">
		<div class="offer">
			<section class="details">
				<div>
				<label>Name
					<input type="text" class="name" value="hello"/>
				</label>
				</div>
				<div>
					<label>Duration (minutes)
						<input type="number" class="duration"/>
					</label>
				</div>
			</section>


			<section class="services">
				<h4>Services</h4>

				<div class="rows-parent"></div>
			
				<p class="count"></p>
				<div class="offer-add-service">
					<select class="service">

					</select>
					<button class="submit">Add</button>
				</div>

			</section>

		</div>
	</template>


	<template id="offer-editor-service-row">
		<p class="serviceName">
		</p>
		<button class="del">Remove</button>
	</template>

</html>