

<html>
	<head>

		<template id="service-list-view">
			<section>Services</section>
			<button id="back">Back</button>
			<table id="rowparent">
				<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
			</table>

			<div id="new">
				<section>New</section>
				<label for="name">Name</label>
				<input type="text" id="name" />
				<button id="submit">Create</button>
			</div>
		</template>

		<template id="service-list-row">
			<tr>
				<td class="name"></td>
				<td><button class="del">Del</button></td>
			</tr>
		</template>
	</template>
	</head>
</html>