
<html>
	<head>

		<template id="staff-list-view">
			<h2>Staff</h2>
			<button class="back">Back</button>
			<section class="rows bookings-generic-list">
				<progress/>
			</section>

			<section class="new">
				New Staff
				<label>name<input type="text" class="name"/></label>
				<label>email<input type="text" class="email"/></label>
				<button class="submit">Create</button>
			</section>
		</template>

		<template id="staff-list-row" >
			<div class="bookings-generic-list-item">
				<label>Name<input type="text" class="name"/></label>
				<section class="actions">
					<button class="schedule">Schedule</button>
				</section>
			</div>
		</template>
	</head>
</html>