<html>
	
	<head>
		<template id="view">
			<div>
				<table id="rows">
					<thead>
						<tr>
							<th scope="col">Organisation</th>
							<th scope="col">Actions</th>
						</tr>

					</thead>

				</table>

				<div id="new"></div>

				<button id="back">Back</button>
			</div>

		</template>

		<template id="row">
			<tr>
				<td id="org"></td>
				<td>
					<button id="remove">Del</button>
				</td>
			</tr>
		</template>

		<template id="new">
			<div>
				<section>Add as member of:</section>
				<label for="orgname">Organization</label>
				<input type="text" id="orgname" list="orgs" />
				<datalist id="orgs"></datalist>
				<button id="submit">Submit</button>
			</div>
		</template>
	</head>
</html>